@import "../../style.scss";

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 3rem;

  .heading {
    color: $blue;
    @include lato-font(6rem, 600);
    @include mobile {
      @include lato-font(3.75rem, 600);
    }
  }

  .box {
    background: #f6f7fb;
    border-radius: 1.5rem;
    padding: 2rem;
    color: #0e0e2c;
    @include lato-font(3.75rem, 600);
    margin-bottom: 6rem;
    @include mobile {
      padding: 1rem;
      @include lato-font(2.25rem, 600);
    }
  }
}
