@import "../../style.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 3rem;

  .heading {
    color: $blue;
    @include lato-font(6rem, 600);
    @include mobile {
      @include lato-font(3.75rem, 600);
    }
  }

  .mission {
    width: 70vw;
    @include lato-font(60px, 400);
    @include mobile {
      @include lato-font(2rem, 400);
    }
  }

  .stake-holders {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 6rem 0;
    @include mobile {
      margin-top: 2rem;
    }
    .stake-holder {
      display: flex;
      justify-content: space-around;
      text-align: left;

      @include mobile {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
      }
      .circle {
        background: #868686;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
      }

      .detail {
        display: flex;
        flex-direction: column;
        width: 50%;

        span {
          @include lato-font(2rem, 400);
        }

        p {
          @include lato-font(1rem, 400);
          margin-block-start: 0;
        }
        .degree {
          @include lato-font(1.125rem, 400);
          margin-block-start: 0;
        }
      }
    }
  }
}
