@import "../../style.scss";

.home {
  background-image: url("../../assets/backImg.jpg");
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;

  width: 100vw;
  text-align: center;

  display: flex;
  flex-direction: column;
  row-gap: 10rem;
  //justify-content: space-around;
  justify-items: center;

  padding-top: 4rem;

  .box1 {
    display: flex;
    flex-direction: column;
    background: #fffffff2;
    align-items: center;
    justify-content: space-around;
    height: 21.875rem;
    margin: 0 10rem;
    //width: 80vw;
    color: #444444;
    border-radius: 1.5rem;

    @include mobile {
      margin: 0 1.5rem;
      padding: 1rem 0;
    }

    .top-text {
      @include lato-font(6rem, 600);

      @include mobile {
        @include lato-font(3.75rem, 600);
      }
    }
    .mid-text {
      @include lato-font(1rem, 400);
    }

    .inner-box {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;

      background: $background1;

      height: 4.5rem;
      width: 23.25rem;
      border-radius: 0.5rem;
      @include mont-font(1.5rem, 700);
      color: #ffff;
      @include mobile {
        @include mont-font(1rem, 700);
        width: 70vw;
      }

      .mid-text {
        @include lato-font(1rem, 700);
      }
    }
  }

  .box2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: $background1;
    gap: 4rem;
    margin: 0 10rem;
    color: #fff;
    border-radius: 1.5rem;
    padding: 2rem 0;

    @include mobile {
      margin: 0 1.5rem;
      padding: 1rem 0;
    }

    .upper-text {
      @include lato-font(3.75rem, 400);
      width: 45vw;
      @include mobile {
        @include lato-font(3rem, 400);
      }
    }

    .lower-text {
      display: flex;
      gap: 16rem;
      //align-items: center;
      //align-content: space-around;

      @include mobile {
        flex-direction: column;
        gap: 4rem;
      }

      .big-text {
        @include lato-font(3.75rem, 600);
      }
      .small-text {
        @include lato-font(1rem, 400);
      }
    }
  }

  .box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background: $background1;
    gap: 2rem;
    margin: 0 10rem;
    border-radius: 1.5rem;
    padding: 2rem;

    @include mobile {
      margin: 0 1.5rem;
    }

    .upper-text {
      @include lato-font(3.75rem, 400);
      @include mobile {
        @include lato-font(2.25, 400);
      }
    }

    .mid-text {
      @include lato-font(1rem, 400);
    }

    .lower-text {
      display: flex;
      gap: 14rem;
      padding-bottom: 2rem;

      @include mobile {
        flex-direction: column;
        gap: 2rem;
      }

      .big-text {
        @include lato-font(3.75rem, 600);
      }
    }
  }

  .white-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #444444;
    background: #ffffffe5;

    padding: 10rem 0;
    @include mobile {
      padding: 4rem 0;
    }
    .font-cl {
      @include lato-font(3.75rem, 600);
      @include mobile {
        @include lato-font(2rem, 600);
      }
    }
  }
}
