@import "../../style.scss";

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

  .heading {
    color: $blue;
    @include lato-font(6rem, 600);
  }
  .question {
    @include lato-font(1rem, 400);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    max-width: 18.75rem;

    margin: 2rem 0 12rem 0;

    input {
      padding: 0.2rem 1rem;
    }

    button {
      @include btn-blue;
    }
  }
}
