@import "../../style.scss";

.navbar {
  background: #f3f3f3;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;

  height: 5.25rem;

  .left {
    display: flex;
    align-items: center;
    gap: 2rem;

    .desktop-link-item {
      text-decoration: none;
      color: #444444;

      @include lato-font(1.32rem, 400);
      cursor: pointer;
      @include mobile {
        display: none;
      }

      .sub-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #3f3e3eb7;

        .sub-menu-item {
          text-decoration: none;
          font-size: 1.25rem;
          color: #ffffff;
          padding: 0.5rem;
          border-bottom: 1px solid rgb(214, 211, 211);
        }
        :hover {
          color: #444444;
          font-size: 1.32rem;
          background: #f3f3f3;
        }
      }
    }

    :hover,
    :focus {
      transition: 300ms ease-in;
      color: $blue;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .right {
    .sign-btn {
      @include btn-blue;

      @include mobile {
        display: none;
      }
    }
  }

  //menu items
  .menu-container {
    position: absolute;
    left: 1.6rem;
    top: 2rem;
    display: none;

    @include mobile {
      display: flex;
    }

    flex-direction: column;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }

    .menu-link-item {
      text-decoration: none;
      color: #444444;
      @include lato-font(1.2rem, 400);
      background: #f3f3f3;
      text-align: center;
      padding: 2rem 3rem;
    }
  }
}
