@import "../../style.scss";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;

  margin-bottom: 4rem;
  margin-top: 3rem;

  .heading {
    @include lato-font(3.75rem, 700);
    @include mobile {
      @include lato-font(3rem, 700);
    }
  }

  .message {
    color: red;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .form-field {
      display: flex;
      flex-direction: column;
      @include mont-font(1.5rem, 500);
      width: 40vw;
      @include mobile {
        width: 85vw;
        @include mont-font(1rem, 500);
        text-align: left;
      }

      input {
        @include mont-font(1.5rem, 500);
        padding: 0.75rem;
        border-radius: 0.5rem;
        border: 1px solid black;
        @include mobile {
          @include mont-font(1rem, 500);
          padding: 0.5rem;
          border-radius: 0.35rem;
        }
      }
    }
    button {
      @include mont-font(1.5rem, 700);
      background: $background1;
      border: none;
      padding: 0.85rem;
      border-radius: 0.5rem;
      color: white;
      margin-top: 1.6rem;
      cursor: pointer;
    }
  }
}
