@import "../../style.scss";

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;

  .heading {
    color: $blue;
    @include lato-font(3.75rem, 600);
    @include mobile {
      @include lato-font(3rem, 600);
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    form {
      display: flex;
      justify-content: center;
      gap: 2rem;
      @include mobile {
        flex-direction: column;
      }
      .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        @include mobile {
          grid-template-columns: 1fr;
          width: 90vw;
        }

        .form-field {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          @include lato-font(1rem, 400);

          input {
            background: #ecf1f4;
            padding: 0.45rem 0.5rem;
            border-radius: 0.25rem;
            border: none;
            @include lato-font(1rem, 400);
          }

          textarea {
            background: #ecf1f4;
            border: none;
          }

          select {
            @include lato-font(1rem, 400);
            padding: 0.4rem 0.5rem;
          }
        }
      }

      .programs {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border: 1px solid gray;
        height: fit-content;
        padding: 1rem;
        border-radius: 1.25rem;
        margin-top: 1rem;

        .program {
          .subjects {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }
      }
    }

    button {
      @include btn-blue;
      margin-bottom: 4rem;
    }
  }
}
